numpy>=2.3,<2.4
numba>=0.62,<0.63
pandas>=2.3,<2.4
scipy>=1.15,<1.16
statsmodels>=0.14.4,<0.15
scikit-learn>=1.7,<1.8
matplotlib>=3.10,<3.11
seaborn>=0.13.2,<0.14
pyyaml>=6,<7
requests>=2.32,<3
beautifulsoup4>=4.13,<5
python-dotenv>=1,<2
tqdm>=4.66,<5
arch>=7,<8
pywin32>=311; sys_platform=="win32"
